<h1>Your Score</h1>
<h2>Now your results</h2>

<ul>
<li>Your word: <%= @word %></li>
<li>Word Length Score: <%= @word_length_score %></li>
<li>Time Taken to answer: <%= @time %></li>
<li>Time Score: <%= @time_score %></li>
<li>Translation: ...</li>
<li>Your score: <%= @total_score %></li>
<li>Message: ...</li>
</ul>

<p><%= link_to "Test a new word", "/game" %></p>

